@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
:root {
    --banner-font: 'Comforter', cursive;
    --create-account-color: #596D48;
    --logo-color: #f2f2f2;
}

body {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

#banner-container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(winter-background.jpg);
    background-size: cover;
    color: var(--logo-color);
    flex: 1 0 30%;
}

#odin-logo {
    display: flex;
    justify-content: center;
    font-family: var(--banner-font);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}