@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Heebo&display=swap');
:root {
    --form-font: 'Heebo', sans-serif;
    --banner-font: 'Comforter', cursive;
    --create-account-color: #596D48;
    --logo-color: #f2f2f2;
    --form-color: #e0e0d1;
    --fieldset-color: #ffffff;
}

body, html {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

#banner-container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(winter-background.jpg);
    background-size: cover;
    color: var(--logo-color);
    flex: 1 0 30%;
}

#logo-container {
    background: rgba(26,26,26, 0.5);
    margin: 30% 0 90%;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-container {
    background-color: var(--form-color);
    width: 100%;
}

#logo-container img {
    width: auto;
    height: 70%;
}

#odin-logo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: var(--banner-font);
}

.intro-container {
    padding: 10px;
    margin: 10%;
    line-height: 1.5;
    font-weight: bold;
    font-family: var(--form-font);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--form-font);
    font-size: 0.8rem;
}

form{
    font-family: var(--form-font);
    box-sizing: border-box;
}

fieldset {
    background-color: var(--fieldset-color);
    width: 100%;
    height: auto;
    box-shadow: 0 4px 2px -2px gray;
    margin: 0 2px 2px 0;
}